
        body{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            background-color: aliceblue;
        }
        .navbar{
            /* background-color: rgba(0, 0, 0,0.5); */
            background-color:  #0f172a;
            position: fixed;
            width: 100%;
            z-index: 1050;
        }
        .navbar-brand{
            font-size: 30px;
            text-transform: uppercase !important;
            color:  #2e51a3 !important;
            text-shadow: 1px px 1px  #2e51a3 !important;
        }
        .nav-link{
          color: #fff !important;
          font-size: 24px;
          display: inline-block;
          position: relative;  
          text-transform: capitalize;
          font-weight: 500;
          transition: color 0.3s ease !important;
        }
        .nav-link:hover{
          color: #2e51a3 !important;
        }
        .active{
           color: #2e51a3 !important;
        }
       .carousel {
         z-index: 1;
        }
        .h2{
            text-align: center;
            margin: 25px;
        }
h2 {
  display: inline-block;
  position: relative;
  font-weight: 500;
  font-size: 70px;
  color:  #2e51a3;
  text-transform: capitalize;
}
h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px; 
  transform: translateX(-50%);
  width: 100%; 
  height: 3px;
  background-color: #798fc2;
  border-radius: 5px;
}
.img{
  margin: 35px 28px;
    border-radius: 10px;
}
.img img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}
.text{
    margin: 0px 28px;
    padding: 100px 20px;
    text-align: justify;
}
text P{
    text-align: justify;
    font-weight: 400;
}
.cards{
    border-radius: 10px;
    transition: 0.3s;
}
.cards:hover{
  transform: translateY(-6px);
}
.cards img{
    height: 250px;
    width: 100%;
    border-radius: 10px;
}
.content-card{
    margin: 15px;
    background-color:   #0f172a;
    border-radius: 10px;
    padding: 0 0 5px 0;
    transition: 0.3s ease;
}
.content-card:hover{
  transform: translateY(-4px);
}
.content-card  h3{
  color: #fff;
  text-transform: capitalize;
}
.content-card p{
color: #fff;
text-transform: capitalize;
font-weight: 450;
}
.content-card img{
    height: 300px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.content-card img:hover{
  opacity: 0.7;
}
.content-card button{
  font-weight: bold;
  text-transform: capitalize;
}
.contact{
  background-color: #fff;
  padding: 20px 35px;
  border-radius: 20px;
}
.contact input{
  border-radius: 10px;
}
#foot{
  background:  #0f172a;
}
.foot-link{
  font-weight: 500;
    transition: color 0.6s ease !important;
}
.foot-link:hover{
  color: #2e51a3 !important;
}
    